@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@400;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Bai Jamjuree', sans-serif;
    text-align: center;
}

img {
    max-width: 100%;
}

ul {
    list-style-type: none;  
}
  
h1, h2, h3 {
    color: hsl(210, 10%, 33%);
}

p {
    line-height: 2;
    color: hsl(201, 11%, 66%);
}

button {
    font-size: 16px;
}

.btn-green {
    background-color: hsl(171, 66%, 44%);
    color: #fff;
    padding: 0.8rem 2rem;
    border-radius: 30px;
    font-weight: bold;
    border: none;
    outline: none;
    box-shadow: 4px 4px 10px hsl(171, 66%, 44%, 0.4);
    cursor: pointer;
}

.btn-blue {
    background-color: hsl(233, 100%, 69%);
    color: #fff;
    padding: 0.8rem 2rem;
    border-radius: 30px;
    font-weight: bold;
    border: none;
    outline: none;
    box-shadow: 4px 4px 10px hsl(233, 100%, 69%, 0.4);
    cursor: pointer;
}

.picture {
    position: absolute;
    width: 100%;
}

picture img {
    width: 100%;
}

.showcase {
    padding: 8rem 1.5rem;
    text-align: center;
}