@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@400;600&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Bai Jamjuree', sans-serif;
}

img {
    max-width: 100%;
}

ul {
    list-style-type: none;
}

body {
    text-align: center;
}

h1 {
    color: hsl(210, 10%, 33%);
}

p {
    line-height: 1.9;
    color: hsl(201, 11%, 66%);
}

button {
    font-size: 17px;
}

.green {
    background-color: hsl(171, 66%, 44%);
    color: white;
    padding: 0.8rem 2rem;
    border-radius: 30px;
    font-weight: bold;
    border: none;
    outline: none;
    box-shadow: 4px 4px 10px hsl(171, 66%, 44%, 0.4);
    cursor: pointer;
}